{% load static %}
{% for post in posts %}

<div class="col-lg-12">
  <div class="blog-post">
    <div class="blog-thumb">
      <img src="{{post.image.url}}" alt="">
    </div>
    <div class="down-content">
      <span>{{post.category.all|join:' , '}}</span>
      <a href="{% url 'blog:single' pid=post.id %}"><h4>B{{post.title}}</h4></a>
      <ul class="post-info">
        <li><a href="#">{{post.author.get_full_name}}</a></li>
        <li><a href="#">{{post.publish_date|date:"d M Y"}}</a></li>
        <li><a href="#">{{comments|length}} Comments</a></li>
        <li><a href="#">{{post.count_views}} Views</a></li>
      </ul>
      <p>{{post.content|safe}} <a rel="nofollow" href="#" target="_parent"></a> </p>
      <div class="post-options">
        <div class="row">
          <div class="col-6">
            <ul class="post-tags">
              {% for tag in post.tags.all %}
              <li><i class="fa fa-tags"></i></li>
              <li><a href="{% url 'blog:tag' tag_name=tag.name %}">{{tag.name}}</a>{% if not forloop.last %},</li>
              {% endif %} 

              {% endfor %}

            </ul>
          </div>
          <div class="col-6">
            <ul class="post-share">
              <li><i class="fa fa-share-alt"></i></li>
              <li><a href="#">Facebook</a>,</li>
              <li><a href="#"> Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% endfor %}



<div class="col-lg-12">
  <div class="main-button">
    <a href="{%url 'blog:index'%}">View All Posts</a>
  </div>
</div>