{%extends 'base.html'%}
{% load static %}
{% load blog_tags %}
{% load home_tags %}
{% load humanize %}

{%block content%}

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{%url 'website:index'%}"><h2>Stand Blog<em>.</em></h2>
            

          
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                
                <a class="nav-link" href="{%url 'website:index'%}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="{%url 'website:about'%}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'blog:index'%}">Blog Entries</a>
              </li>
 
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'website:contact'%}">Contact Us</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">


          {% lastestposts %}


        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>How Your Dreams Can Make You More Creative</span>
                  <h4>Create Your JOB</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a href="#" target="_parent">DOWNLOAD APP</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">



                {% lastestpost %}
                
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                {% include 'blog_temp/blog_search.html' %}
                {% include 'blog_temp/blog-lastest-post.html' %}
                {% postcategories %}
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {%endblock%}