{%extends 'base.html'%}
{% load static %}
{% load blog_tags %}

{%block content%}

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{%url 'website:index'%}"><h2>Stand Blog<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{%url 'website:index'%}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="{%url 'website:about'%}">About Us</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{%url 'blog:index'%}">Blog Entries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'website:contact'%}">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Recent Posts</h4>
                <h2>Our Recent Blog Entries</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->

    <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>How Your Dreams Can Make You More Creative</span>
                  <h4>Create Your JOB</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a href="#" target="_parent">DOWNLOAD APP</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
              {% for post in posts %}
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{post.image.url}}" alt="">
                    </div>
                    <div class="down-content">
                      {% for cat in post.category.all %}
                      <span><a href=""><a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a>{% if not forloop.last %},
                        {% endif %} 
                        
                        {% endfor %}
                      </a></span>
                      <a href="{%url 'blog:single' pid=post.id%}"><h4>{{post.title}}</h4></a>
                      <ul class="post-info">
                        <li><a href="{% url 'blog:author' author_username=post.author.username %}">{{post.author.get_full_name}}</a></li>
                        <li><a href="#">{{post.count_views}} Views</a></li>
                        <li><a href="#">{{post.publish_date|date:"d M Y"}}</a></li>
                        <li><a href="#">{% comments_count post.id %} Comments</a></li>
                      </ul>
                      <p>{{post.content|truncatewords:5}}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-lg-12">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Best Templates</a>,</li>
                              <li><a href="#">TemplateMo</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}

                <div class="col-lg-12">
                  <ul class="page-numbers">
                    
                    
                      {% if posts.has_previous %}
                      <li class="page-item">
                        <a href="?page={{ posts.previous_page_number }}" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">
                                <span class="lnr lnr-chevron-left"></span>
                            </span>
                        </a>
                      </li>
                      {% endif %}
                      {% for i in posts.paginator.page_range %}
                      {% if posts.number == i %}
                      <li class="page-item active"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                      {% else %}
                      <li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                      {% endif %}
                      {% endfor %}
                      {% if posts.has_next %}
                          <li class="page-item">
                              <a href="?page={{ posts.next_page_number }}" class="page-link" aria-label="Next">
                                  <span aria-hidden="true">
                                      <span class="lnr lnr-chevron-right"></span>
                                 </span>
                              </a>
                           </li>
                      {% endif %}


                  </ul>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  {% include 'blog_temp/blog_search.html' %}
                </div>
                <div class="col-lg-12">
                  {% include 'blog_temp/blog-lastest-post.html' %}
                </div>
                <div class="col-lg-12">
                {% include 'blog_temp/blog-post-category.html' %}
                </div>
                <div class="col-lg-12">
                  {% include 'blog_temp/blog_tag.html' %}	
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    {%endblock%}